<nav class="ui inverted menu">
  <header class="header item"><a href="/"> Admin the Hoots </a></header>
  <div class="right menu">
    <a id="adminhome"   class= "item" href="/adminhome"> Dashboard</a>
    <!--<a id="report" class= "item" href="/viewuser"> Report</a>-->
    <a id="usercreation" class= "item" href="/usercreation"> New User</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>