<!--<section class="ui raised segment">-->
  <div class="ui grid ">
    <!--<div class ="sunset">-->
    <div class="ui form six wide column">
      <div class="ui segment " id="purple" >
        <form action="/hoot" method="POST" style="color:#ffffff" enctype="multipart/form-data">
          <div class="ui dropdown" name="hashtag">
            <input type="hidden" name="hashtag">
            <div class="text">What Hashtag?</div>
            <i class="ui dropdown icon"></i>
            <div class="menu">
              <div class="item">Night Snacks</div>
              <div class="item">Owlcoholic</div>
              <div class="item">Hoot topics</div>
            </div>
          </div>
          <br><br>
          <div class="text"><b>Enter your Hoot</b></div>
          <label>Hoot:</label> <textarea class="hootmain" placeholder="Orly?" type="text" name="hootmain" rows="3" cols="30"></textarea>
          <br>
          <span class="countdown"></span>
          <br>
          <br>
          <input type="file" name="picture">
          <br>
          <br>
          <button class="ui teal submit button">Toot your Hoot</button>
        </form>
        {{> formerror }}
      </div>
    </div>
    <aside class="six wide column">
      <img src="images/two_owls_on_fence.jpg" class="ui medium image">
    </aside>
  </div>
  <!--</div>-->
  <!–– reference for below functions: https://stackoverflow.com/questions/2136647/character-countdown-like-on-twitter
  https://stackoverflow.com/questions/2001366/how-can-i-change-the-text-color-with-jquery -->
<!--</section>-->
<script>
  function updateCountdown() {
    // 140 is the max message length
    var remaining = 140 - jQuery('.hootmain').val().length;
    if (remaining < 0)
     {
      $('.countdown').css({ 'color': 'red', 'font-size': '100%' });
      jQuery('.countdown').text(remaining + ' characters. This Hoot is too long!');
     }
    else if (remaining == 1)
     {
      $('.countdown').css({ 'color': 'white', 'font-size': '100%' });
      jQuery('.countdown').text(remaining + ' character remaining.');
     }
    else
     {
      $('.countdown').css({ 'color': 'white', 'font-size': '100%' });
      jQuery('.countdown').text(remaining + ' characters remaining.');
     }

  }

  jQuery(document).ready(function($) {
    updateCountdown();
    $('.hootmain').change(updateCountdown);
    $('.hootmain').keyup(updateCountdown);
  });
  </script>