<nav class="ui inverted menu">
  <header class="header item"><a href="/"> Hoot Hoot </a></header>
  <div class="right menu">
    <a id="home"   class= "item" href="/home"> Hoot</a>
    <a id="report" class= "item" href="/report"> View my hoots</a>
    <a id="allhootslist" class= "item" href="/allhootslist"> View all hoots</a>
    <a id="personaltimeline" class= "item" href="/personaltimeline"> Whoo you follow</a>
    <a id="settings" class= "item" href="/settings"> Settings</a>
    <a id="logout" class= "item" href="/logout"> Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>