{{> mainmenu _id="allhootslist" }}

<table class="ui fixed table" id="purple">
  <tbody>
  <div class="ui bulleted list">
    {{#each users}}
    <tr>
      <td>
        <div class="column">
          <p class="ui wechat icon">
            <a href="/viewotheruser/{{id}}"><h3><i class="ui teal wechat icon"></i>{{firstName}}
              {{lastName}}</h3></a></p>
        </div>
      </td>
    {{/each}}
  </div>
  </tbody>
</table>

  {{> fullhootslist }}

  <div class="ui  divider"></div>
  </div>