{{> welcomemenu }}

<section class="ui stacked segment">
  <div class="ui grid">
    <aside class="six wide column">
      <img src="images/blue_tweet_owl_icon.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header"> Hoot at me!</header>
      <p> Make a hoot, and I'll hear you, even at night! </p>
    </article>
  </div>
</section>