{{> welcomemenu }}

  <div class="ui grid" style="color:#ffffff">
    <aside class="six wide column">
      <img src="images/blue_tweet_owl_icon.png" class="ui medium image">
    </aside>
    <article class="ten wide column">
      <header class="ui  header" style="color:#ffffff"> Hoot at me!</header>
      <p> Make a hoot, and I'll hear you; even at night! </p>
    </article>
  </div>