{{> adminmenu _id="usercreation" }}

    <div class="ui grid">
      <div class="ui ten wide column">
        <div class="ui stacked fluid form segment" id="purple">
          <form action="/newuser" method="POST">
            <h3 class="ui header" style="color:#ffffff">New User Details</h3>
            {{> addupdateuser }}
          </form>
          {{> formerror }}
        </div>
      </div>
      <aside class="ui five wide column">
        <img src="images/many_owls.png" class="ui medium image">
      </aside>
    </div>